* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #AC94f4;
    background-repeat: no-repeat;
}

h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif
}

.bloco {
    flex-direction: row;
    justify-content: center;
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: whitesmoke;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 150px;
}

.skills {
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;

}

#python {
    width: 50px;
    height: 50px;
    text-align: center;
    justify-content: center;
}

#html {
    width: 50px;
    height: 50px;
    justify-content: center;
}

#css {
    width: 50px;
    height: 50px;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 15px;
    gap: 50px;
    color: azure;
    border-radius: ;
}

